<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.acr.samples" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
	<application android:label="ACR MvvmCross Plugins" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>